* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vh;
  background-color: darkcyan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color: black;
  justify-content: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

#titulo {
  font-family: sans-serif;
  color: #000;
  margin-left: 7%;
}

#dados {
  display: inline-block;
}

fieldset {
  border: 0;
}

input,
select,
button {
  border-radius: 5px;
}

.dados {
  display: inline-block;
}

.fildeset.grupo {
  float: left;

  margin-right: 1em;
}
.botao {
  font-size: 1em;
  background: rgb(255, 255, 255);
  border: 0;
  margin-top: 1em;
  color: rgb(0, 0, 0);
  padding: 0.2em 0.6em;
  box-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
  text-shadow: 0.5px 0.5px 0.5px #000;
}
