* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* vh -> view heigth port */
/* vw -> view width port */
body {
  height: 100vh;
  width: 100vw;
  background-color: darkcyan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color: black;
  justify-content: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

form {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 50%; 
}

#titulo {
  text-align: center;
  font-family: sans-serif;
  color: #000;
}

#dados {
  display: inline-block;
}

input,
select,
button {
  border-radius: 5px;
}

.dados {
  display: inline-block;
}

.botao {
  font-size: 1em;
  background: rgb(255, 255, 255);
  border: 0;
  margin-top: 1em;
  color: rgb(0, 0, 0);
  padding: 0.2em 0.6em;
  box-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
  text-shadow: 0.5px 0.5px 0.5px #000;
}
